html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  padding: 2em;
  background: #bedfff;
  text-align: left;
  padding: 2.125em 15%;
}

h1 {
  text-align: left;
  font-size: 50px;
}

nav{
  margin-left: 5em;
  margin-right: 5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
}

nav a {
  display: block;
  padding: 4px;
  font: bold 25px/30px sans-serif;
  background: #73aab7;
  color: #000000;
  text-align: center;
}

nav a:hover {
  background: #8BC34A;
}

nav li {
  float: left;
  width: 12.5em;
  list-style: none;
}