html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  padding: 2em;
  background: #0B0C10;
  text-align: left;
  padding: 2.125em 15%;
  color: #66FCF1;
}

html {
  border-top: 2.4em solid #1F2833;
}

h1 {
  text-align: left;
  font-size: 50px;
  font-family: ;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

nav{
  margin-left: 5em;
  margin-right: 5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

nav a {
  display: block;
  padding: 4px;
  font: bold 25px/30px sans-serif;
  background: #1F2833;
  color: #66FCF1;
  text-align: center;
}

nav a:hover {
  background: #45A29E;
}

nav li {
  float: left;
  width: 12.5em;
  list-style: none;
  right: 50%;
  text-align: center;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  float: left;
  left: 47%;
}

#name {
	font-size: 30px;
}

.education	{
	width: 100%;
	margin: 2em 0 13em 0;
}
.professionalexperiences	{
	width: 50%;
	float: left;
}
.activities	{
	width: 45%;
	float: left;
}
.class	{
	width: 45%;
	float: left;
	margin: 2em
}
