html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  padding: 2em;
  background: #bedfff;
  text-align: left;
  padding: 2.125em 15%;
}

html {
  border-top: 2.4em solid #414141;
}

h1 {
  text-align: left;
  font-size: 50px;
}

nav{
  margin-left: 5em;
  margin-right: 5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

nav a {
  display: block;
  padding: 4px;
  font: bold 25px/30px sans-serif;
  background: #000000;
  color: #ff0606;
  text-align: center;
}

nav a:hover {
  background: #8BC34A;
}

nav li {
  float: left;
  width: 12.5em;
  list-style: none;
  right: 50%;
  text-align: center;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  float: left;
  left: 47%;
}
